<form class="row g-3 my-3" method="post">
    <div class="col">
        <h4 class="text-light">Add new book</h4>
    </div>
    <div class="col">
        <input class="form-control" type="text" name="image" placeholder="how can i add an image?">
    </div>
    <div class="col">
        <input class="form-control" type="text" name="b_name" placeholder="Book name">
    </div>
    <div class="col">
        <input class="form-control" type="text" name="a_name" placeholder="Author name">
    </div>
    <div class="col">
        <input class="form-control" type="text" name="description" placeholder="Description">
    </div>
    <div class="col">
        <input class="form-control" type="text" name="year" placeholder="Year">
    </div>
    <div class="col">
        <button type="submit" class="btn btn-secondary">Send</button>
    </div>
</form>
