{% extends 'layouts/layout.html.twig' %}

{% block main %}
    <div class="container">

        <div>
            <a href="{{ path('lib_books') }}">Load book's list</a>
        </div>
        <div>
            <a href="{{ path('lib_authors') }}">Load authors list</a>
        </div>
    </div>

{% endblock %}